<%- include('header',{title:"Attendance"}); -%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="img/clip-online-consultation.png" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6">
      <h1 class="mt-4" style="font-size:xx-large;">Attendance Taker</h1>
      <p>
        A 💡 Perfect Open Source Tool To Take Attendance 🧈 Smooth & ⚡ Fast Without Hassel.
        <br>
        <a href="/login" class="btn btn-outline-primary btn-lg">Login Here</a>
        <hr>
        Tech Stack: NodeJs,ExpressJs ,MongoDB. <br>
        <i class="fab fa-node fa-3x"></i>
        <!-- <img src="../icon/nodejs.png" alt="" class="img-fluid" style="height: 10vh;"> -->
        <img src="../icon/express.png" alt="" class="img-fluid" style="height: 10vh;">
        <img src="../icon/mongodb.png" alt="" class="img-fluid" style="height: 10vh;">
        <br>
        Make a Pull Request or Issue To Add New Feature to The Project . 
        <a href="https://github.com/ashish-devv/attendance-taker-node" class="btn btn-primary"><i class="fas fa-code-branch"></i> Github-Repo</a>
      </p>
      
      <hr>
      <img src="../img/Studentdashboard.png" alt="" class="img-fluid" style="height: 40vh;transform: rotate(30deg);align-items: center;margin-left: 10vh;">
    </div>
  </div>
</div>

<%- include('footer'); -%>
