<%- include('header',{title:"Login-Attendace"}); -%>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-sm-6">
      <img src="img/cherry-667.png" class="img-fluid" alt="" />
      <!-- <img src="img/cherry-online-service.png" class="img-fluid" alt="" /> -->
    </div>
    <div class="col-sm-6">
      <h1 class="display-4 mt-4 text-center">Login <i class="fas fa-sign-in-alt"></i></h1>
      <p class="text-center">
          <div class="card border border-danger">
            <div class="card-header bg-danger">
                <h4 class="h4  text-white">Login For Students <i class="fas fa-user-graduate"></i></h4>
            </div>
            <div class="card-body">
                <a class="btn btn-outline-danger mx-4 text-center" href="/studentdashboard"
          ><i class="fab fa-google"></i> Login/SignUp With Google
        </a>
            </div>
            </div>
            <hr>
            <div class="card border border-danger">
            <div class="card-header bg-danger">
                <h4 class="h4  text-white">Login For Teachers <i class="fas fa-chalkboard-teacher"></i></h4>
            </div>
            <div class="card-body">
                <a class="btn btn-outline-danger mx-4 text-center" href="/dashboard"
          ><i class="fab fa-google"></i> Login/SignUp With Google
        </a>
            </div>
            </div>
        
        
      </p>
    </div>
  </div>
</div>

<%- include('footer'); -%>
